FORMAT: 1A
HOST: http://leagueofdowning.me

# WWC
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Champions
Notes related resources of the **WCC API**

## champions Collection [/api/champions/?offset={offset}&limit={limit}]

+ Parameters
    + offset (required, number, `1`) ... number `offset` of the champion to perform action with. Has example value.
    + limit (required, number, `1`) ... number `limit` of the champion to perform action with. Has example value.



### List first {limit} champions starting from {offset}. Queries are bounded by the number of champions which is 3 [GET]
+ Response 200 (application/json)

        [
            {
                
                "champion_name": "dr_mundo",
                "picture": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/champion/DrMundo.png",
                "abilities": {"q" : 
                                    "Q: Infected Cleaver

                                    Dr. Mundo hurls his cleaver, dealing damage equal to a portion of his target's current Health and slowing them for a short time. Dr. Mundo delights in the suffering of others, so he is returned half of the Health cost when he successfully lands a cleaver (increased to the full Health cost on killing blows).

                                    Dr. Mundo hurls his cleaver, dealing magic damage equal to 15/18/21/23/25% of the target's current Health (80/130/180/230/280 damage minimum) and slowing them by 40% for 2 seconds.Half of the Health cost is refunded if the cleaver hits a target (increased to the full Health cost on killing blows)." , 
                                "w": 
                                    "W: Burning Agony

                                    Dr. Mundo drains his Health to reduce the duration of disables and deal continual damage to nearby enemies.

                                    Toggle: Dr. Mundo deals 35/50/65/80/95 (+20% Ability Power) magic damage to nearby enemies, and reduces the duration of disables on Dr. Mundo by 10/15/20/25/30%.", 
                                "e": 
                                    "E: Masochism

                                    Masochism increases Dr. Mundo's Attack Damage by a flat amount for 5 seconds. In addition, Dr. Mundo also gains an additional amount of Attack Damage for each percentage of Health he is missing.

                                    Increases Attack Damage by 40/55/70/85/100 for 5 seconds. Dr. Mundo gains an additional +0.4/0.55/0.7/0.85/1 Attack Damage for each percentage of Health he is missing." , 
                                "r": 
                                    "R: Sadism

                                    Dr. Mundo sacrifices a portion of his Health for increased Movement Speed and drastically increased Health Regeneration.

                                    Dr. Mundo regenerates 0 health (40/50/60% of max health) over 12 seconds. Additionally, he gains 15/25/35% movement speed during this time." },

                "picture_q": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/InfectedCleaverMissileCast.png",
                "picture_w": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/BurningAgony.png",
                "picture_e": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/Masochism.png",
                "picture_r": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/Sadism.png",

                "resource_uri": "/api/champions/dr_mundo/",
            },
            {
                "etc..."
            }
            
        ]

## champions [/api/champions/{id}]
A single champion object with all its details

+ Parameters
    + id (required, string, `USA`) ... String `id` of the champion to perform action with. Has example value.

### Retrieve a champion [GET]
+ Response 200 (application/json)

             {
                "champion_name": "dr_mundo",
                "picture": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/champion/DrMundo.png",
                "abilities": {"q" : 
                                    "Q: Infected Cleaver

                                    Dr. Mundo hurls his cleaver, dealing damage equal to a portion of his target's current Health and slowing them for a short time. Dr. Mundo delights in the suffering of others, so he is returned half of the Health cost when he successfully lands a cleaver (increased to the full Health cost on killing blows).

                                    Dr. Mundo hurls his cleaver, dealing magic damage equal to 15/18/21/23/25% of the target's current Health (80/130/180/230/280 damage minimum) and slowing them by 40% for 2 seconds.Half of the Health cost is refunded if the cleaver hits a target (increased to the full Health cost on killing blows)." , 
                                "w": 
                                    "W: Burning Agony

                                    Dr. Mundo drains his Health to reduce the duration of disables and deal continual damage to nearby enemies.

                                    Toggle: Dr. Mundo deals 35/50/65/80/95 (+20% Ability Power) magic damage to nearby enemies, and reduces the duration of disables on Dr. Mundo by 10/15/20/25/30%.", 
                                "e": 
                                    "E: Masochism

                                    Masochism increases Dr. Mundo's Attack Damage by a flat amount for 5 seconds. In addition, Dr. Mundo also gains an additional amount of Attack Damage for each percentage of Health he is missing.

                                    Increases Attack Damage by 40/55/70/85/100 for 5 seconds. Dr. Mundo gains an additional +0.4/0.55/0.7/0.85/1 Attack Damage for each percentage of Health he is missing." , 
                                "r": 
                                    "R: Sadism

                                    Dr. Mundo sacrifices a portion of his Health for increased Movement Speed and drastically increased Health Regeneration.

                                    Dr. Mundo regenerates 0 health (40/50/60% of max health) over 12 seconds. Additionally, he gains 15/25/35% movement speed during this time." },

                "picture_q": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/InfectedCleaverMissileCast.png",
                "picture_w": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/BurningAgony.png",
                "picture_e": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/Masochism.png",
                "picture_r": "http://ddragon.leagueoflegends.com/cdn/5.10.1/img/spell/Sadism.png",

                "resource_uri": "/api/champions/dr_mundo/",
            }


# Group Players
## Players Collection [/api/players/?offset={offset}&limit={limit}]

+ Parameters
    + offset (required, number, `1`) ... number `offset` of the Players to perform action with. Has example value.
    + limit (required, number, `1`) ... number `limit` of the Players to perform action with. Has example value.



### List first {limit} Players starting from {offset}. Queries are bounded by the number of players which is 736. [GET]
+ Response 200 (application/json)

        [
            {
                "biography": "",
                "birth_date": "1986-09-08",
                "clubname": "AS Monaco",
                "first_international_appearance": "",
                "full_name": "Joao Moutinho",
                "goals": 0,
                "height": 0,
                "id": 1,
                "international_caps": 0,
                "player_image": "https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/players/Portugal/Joao_MOUTINHO.png",
                "position": "Midfielder",
                "resource_uri": "/api/players/Joao%20Moutinho/",
                "shirt_number": 8,
                "sur_name": "Iria Santos Moutinho"
            },
            {
                "etc..." : "more"
            }
        ]



## Players [/api/players/{id}]
A single Player object with all its details

+ Parameters
    + id (required, string, `Joao Moutinho`) ... String `id` of the champion to perform action with. Has example value.

### Retrieve a Player [GET]
+ Response 200 (application/json)


        {
            "biography": "",
            "birth_date": "1986-09-08",
            "clubname": "AS Monaco",
            "first_international_appearance": "",
            "full_name": "Joao Moutinho",
            "goals": 0,
            "height": 0,
            "id": 1,
            "international_caps": 0,
            "player_image": "https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/players/Portugal/Joao_MOUTINHO.png",
            "position": "Midfielder",
            "resource_uri": "/api/players/Joao%20Moutinho/",
            "shirt_number": 8,
            "sur_name": "Iria Santos Moutinho"
        }
 

# Group Matches
## Matches Collection [/api/matches/?offset={offset}&limit={limit}]
+ Parameters
    + offset (required, number, `1`) ... number `offset` of the Matches to perform action with. Has example value.
    + limit (required, number, `1`) ... number `limit` of the Matches to perform action with. Has example value.



### List first {limit} Matches starting from {offset}. Queries are bounded by the number of matches which is 64 [GET]

+ Response 200 (application/json)

        [
            {
                "highlight_url": "http://player.espn.com/player.js?pcode=B4a3E63GKeEtO92XK7NI067ak980&width=576&height=324&externalId=intl:1876413",
                "location": "Arena de Sao Paulo",
                "map_location": "https://www.google.com/maps/embed/v1/place?q=Arena de Sao Paulo+Brazil&key=AIzaSyDZQEI-0qREquMzHQf8Gl6Z2zYt_YBjrmQ",
                "match_date": "2014-06-12",
                "match_num": 1,
                "merge_flag": "https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/match_symbol/bra_cro.jpg",
                "resource_uri": "/api/matches/1/",
                "score": "3-1",
                "winner": "Brazil"
            },
            {
                etc...
            }
        ]

## Matches [/api/matches/{id}]
A single Match object with all its details

+ Parameters
    + id (required, number, `1`) ... Int `id` of the champion to perform action with. Has example value.

### Retrieve a Match [GET]
+ Response 200 (application/json)

        {
            "highlight_url": "http://player.espn.com/player.js?pcode=B4a3E63GKeEtO92XK7NI067ak980&width=576&height=324&externalId=intl:1876413",
            "location": "Arena de Sao Paulo",
            "map_location": "https://www.google.com/maps/embed/v1/place?q=Arena de Sao Paulo+Brazil&key=AIzaSyDZQEI-0qREquMzHQf8Gl6Z2zYt_YBjrmQ",
            "match_date": "2014-06-12",
            "match_num": 1,
            "merge_flag": "https://googledrive.com/host/0B3-zO2AfoiQjWXRqUVVUX19mdFk/match_symbol/bra_cro.jpg",
            "resource_uri": "/api/matches/1/",
            "score": "3-1",
            "winner": "Brazil"
        }
