{% block content %}
    <h2>Search</h2>

        <header class="search">
            <section id="search" class="container content-section text-center">

                <div class="container">
                    <div class="featurette">
                       <div class="featurette-inner text-center">
                          <form role="form" class="search">
                             <h3 class="no-margin-top h1">Search League of Downing</h3>
                             <div class="input-group input-group-lg"> 
                                <input type="search" placeholder="search" class="form-control">
                                <span class="input-group-btn">
                                <button class="btn btn-danger" type="button">Search</button>
                                </span>
                             </div>
                             <!-- /input-group -->
                          </form>
                          <!-- /.max-width on this form -->

                       </div>
                       <!-- /.featurette-inner (display:table-cell) -->
                    </div>  

                </div>
            </section>
        </header>



    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
