<!DOCTYPE html>
<html lang="en">
  <head>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <title>
      About
   </title>
  </head>
  <body style="margin-bottom: 60px">
    <div class="container">
      <div class="jumbotron">
         <h1>
            About
         </h1>
      </div>

      <a href="http://leagueofdowning.me/">
         Back to Home
      </a>

      <p class="text-center">
         <h2>
            Land of Legends Group:
         </h2>
      </p>



      <h3>Ryan Lorey</h3>
      <img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/08f/21d/35029a7.jpg">
<H3>Bio:</H3>
Ryan was born
<H3>Responsibilities:</H3>
These are all of my major responsibilities in a convenient sentence structure</p>
Number of Commits:</p>
Number of Issues:</p>
Number of Unit Tests:</p>

<p style="padding-bottom:70px;"><H2>Michael Cantu</H2>
  <img class="img-circle" src="http://i.imgur.com/DLmjSaR.jpg" style="width:200px;height:200px;">
  <H3>Bio:</H3>
  Michael was born
  <H3>Responsibilities:</H3>
  These are all of my major responsibilities in a convenient sentence structure</p>
Number of Commits:</p>
Number of Issues:</p>
Number of Unit Tests:</p>

<p style="padding-bottom:70px;"><H2>Nathan Williamson</H2>
  <img class="img-circle" src="http://www.pinata.com.au/sites/default/files/pineapple%20200%20x%20200.jpg">
  <H3>Bio:</H3>
  Nathan was born
  <H3>Responsibilities:</H3>
  These are all of my major responsibilities in a convenient sentence structure</p>
Number of Commits:</p>
Number of Issues:</p>
Number of Unit Tests:</p>

<p style="padding-bottom:70px;"><H2>Manny Nguyen</H2>
  <img class="img-circle" src="https://a3-images.myspacecdn.com/images03/23/f3fdd652d98f4251be35afeb37974a4c/300x300.jpg" style="width:200px;height:200px;">
  <H3>Bio:</H3>
  Manny was born
  <H3>Responsibilities:</H3>
  These are all of my major responsibilities in a convenient sentence structure</p>
Number of Commits:</p>
Number of Issues:</p>
Number of Unit Tests:</p>

<p style="padding-bottom:70px;"><H2>Richard Shin</H2>
  <img class="img-circle" src="http://g02.a.alicdn.com/kf/HTB1zi8PIXXXXXX4XpXXq6xXFXXXG/Travel-tool-Lemon-pomelo-Orange-Peeler-Cutter-fruit-peelers-Cute-New-95168.jpg_200x200.jpg">
  <H3>Bio</H3>
  Richard was born
  <H3>Responsibilities:</H3>
  These are all of my major responsibilities in a convenient sentence structure</p>
Number of Commits:</p>
Number of Issues:</p>
Number of Unit Tests:</p>


<p style="padding-bottom:70px;"><H2>Stats:</H2>
  Total Number of Commits:</p>
Total Number of Issues:</p>
Total Number of Unit Tests:</p>
<a href="http://docs.leagueofdowningapi.apiary.io/#">Link to Apiary</a></p>
<a href="https://github.com/RyFry/leagueofdowning/issues">Link to Github Issue Tracker</a></p>
<a href="https://github.com/RyFry/leagueofdowning/tree/dev">Link to Github</a></p>
<a href="https://github.com/RyFry/leagueofdowning/wiki">Link to Github Wiki</a></p>




<p style="padding-bottom:70px;"><H2>Data:</H2>
  <a href="leagueoflegends.com">Link to Source 1</a></p>
<a href="lol.gamepedia.com/">Link to Source 2</a></p>
<a href="lolcounter.com">Link to Source 2</a></p>
No data was scraped for this first portion of the project</p>




<p style="padding-bottom:70px;"><H4>Copyright 2015, by Land of Legends 
  </H4>
</div>
</body>
</html>
