<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "app/header.html" %}
		<style>
			.footer
			{
			position: relative;
			margin-top: 30px;
			bottom: 0;
			width: 100%;
			/* Set the fixed height of the footer here */
			height: 60px;
			background-color: #f5f5f5;
			}
		</style>
		<title>
			About
		</title>
	</head>
	<body style="margin-bottom: 60px" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	  {% include "app/navigation.html" %}

		<!-- Intro Header -->
		<header class="intro">
			<div class="intro-body">
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<h1 class="brand-heading">ABOUT</h1>
							<a href="#team" class="btn btn-circle page-scroll">
							<i class="fa fa-angle-double-down animated"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>


		<section id="team" class="container content-section text-center">
			<div class="container">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 vcenter">
							<img class="img-circle" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/08f/21d/35029a7.jpg">
						</div>
						<div class="col-sm-9">
							<h2>Ryan Lorey</h2>
							<H4>Bio:</H4>
							Computer Science major graduating Spring 2016.<br>
							<H4>Responsibilities:</H4>
							<i><b>Phase I:</b></i> Django, Bootstrapping, 9 Static HTML Pages<br>
							<i><b>Phase II:</b></i> PostgreSQL database<br>
                            <i><b>Phase II:</b></i> Search<br>
							Number of Commits: 85<br>
							Number of Issues: 11<br>
							Number of Unit Tests: 0<br>	
						</div>
					</div>
					<br><br><br>
					<div class="row">
						<div class="col-sm-3 vcenter">
							<img class="img-circle" src="http://i.imgur.com/DLmjSaR.jpg" style="width:200px;height:200px;">
						</div>
						<div class="col-sm-9">
							<H2>Michael Cantu</H2>
							<H4>Bio:</H4>
							UTCS senior graduating December 2015.<br>
							<H4>Responsibilities:</H4>
							<i><b>Phase I:</b></i> API, Wiki, Rackspace, Logo, Splash & About Pages<br>
                            <i><b>Phase II:</b></i> API, Datascraping<br>
                            <i><b>Phase III:</b></i> Implementing other groups API, Search indexing<br>
							Number of Commits: 135<br>
							Number of Issues: 12<br>
							Number of Unit Tests: 0<br>
						</div>
					</div>
					<br><br><br>
					<div class="row">
						<div class="col-sm-3 vcenter">
							<img class="img-circle" src="https://scontent.xx.fbcdn.net/hphotos-frc3/v/t1.0-9/565061_500897060002461_307044043_n.jpg?oh=de630b160073966e2f8ca61ab30151ad&oe=562E1772" style="width:200px;height:200px;">
						</div>
						<div class="col-sm-9">
							<H2>Nathan Williamson</H2>
							<H4>Bio:</H4>
							Nathan is a UTCS senior graduating December 2015. <br><br>
							<font size="10"><b>Responsibilities:</H4>
							<i><b>Phase I:</b></i> HTML and AngularJS, Tables<br>
                            <i><b>Phase II:</b></i> AngularJS, Datascraping<br>
                            <i><b>Phase III:</b></i> Updating tables and links<br>
							Number of Commits: 78<br>
							Number of Issues: 16<br>
							Number of Unit Tests: 0<br>
						</div>
					</div>
					<br><br><br>
					<div class="row">
						<div class="col-sm-3 vcenter">
							<img class="img-circle" src="https://a3-images.myspacecdn.com/images03/23/f3fdd652d98f4251be35afeb37974a4c/300x300.jpg" style="width:200px;height:200px;">
						</div>
						<div class="col-sm-9">
							<H2>Manny Nguyen</H2>
							<H4>Bio:</H4>
							Computer Science student graduating in Spring 2016.<br>
							<H4>Responsibilities:</H4>
							<i><b>Phase I:</b></i> Rackspace, API, Models.py<br>
                            <i><b>Phase II:</b></i> New Boostrapping redo for the entire<br>
                            <i><b>Phase III:</b></i> More Bootsrapping updates to look nicer, linking pages<br>
							Number of Commits: 25<br>
							Number of Issues: 5<br>
							Number of Unit Tests: 0<br>
						</div>
					</div>
					<br><br><br>
					<div class="row">
						<div class="col-sm-3 vcenter">
							<img class="img-circle" src="http://i.imgur.com/i99dKlL.jpg" style="width:200px;height:200px;">
						</div>
						<div class="col-sm-9">
							<H2>Richard Shin</H2>
							<H4>Bio</H4>
							Computer Science major at the University of Texas at Austin, Class of 2016.<br>
							<H4>Responsibilities:</H4>
							<i><b>Phase I:</b></i> UML, Unit Tests, Wiki<br>
                            <i><b>Phase II:</b></i> Unit Tests, UML<br>
                            <i><b>Phase III:</b></i> Unit Tests, UML<br>
							Number of Commits: 40<br>
							Number of Issues: 5<br>
							Number of Unit Tests: 9<br>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="stats" class="container content-section text-center">
			<H2>Stats:</H2>
			Total Number of Commits: 137<br>
			Total Number of Issues: 23<br>
			Total Number of Unit Tests: 9<br>
			<a href="http://docs.leagueofdowningapi.apiary.io/#">Link to Apiary</a><br>
			<a href="https://github.com/RyFry/leagueofdowning/issues">Link to Github Issue Tracker</a><br>
			<a href="https://github.com/RyFry/leagueofdowning/tree/dev">Link to Github</a><br>
			<a href="https://github.com/RyFry/leagueofdowning/wiki">Link to Github Wiki</a><br><br>
			<H2>Data:</H2>
			<a href="http://leagueoflegends.com">League of Legends Website</a><br>
			<a href="http://lol.gamepedia.com/">LoL Gamepedia</a> (Used for player pictures)<br>
			<a href="http://lolcounter.com">LoL Counter</a> (for finding champion counters)<br>
			Data was scraped from LeagueOfLegends API and from the LolEsports API Swagger
		</section>
	</body>
	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; League of Downing 2015</p>
		</div>
	</footer>
	{% include "app/footer.html" %}
</html>
