<HEAD>
<TITLE>About</TITLE>
</HEAD>
<BODY BGCOLOR="Black">
<CENTER>


<H1><font face="Trebuchet MS" color="orange">About Us</font></H1> 


<H2><font face="Trebuchet MS" color="orange">Land of Legends Group:</font></H2>


<p style="padding-bottom:30px;"><H2><font face="Trebuchet MS" color="orange">Ryan Lorey</font></H3>
<img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/005/08f/21d/35029a7.jpg">
<font face="Trebuchet MS" color="orange"><H3>Bio</H3></font>
<font face="Trebuchet MS" color="white">Ryan was born</font>
<font face="Trebuchet MS" color="orange"><H3>Responsibilities</H3></font>
<font face="Trebuchet MS" color="white">Yes</font></p>

<p style="padding-bottom:30px;"><H2><font face="Trebuchet MS" color="orange">Michael Cantu</font></H2>
<img src="http://i.imgur.com/DLmjSaR.jpg" style="width:200px;height:200px;>
<font face="Trebuchet MS" color="orange"><H3>Bio</H3></font>
<font face="Trebuchet MS" color="white">Michael was born</font>
<font face="Trebuchet MS" color="orange"><H3>Responsibilities</H3></font>
<font face="Trebuchet MS" color="white">Yes</font></p>

<p style="padding-bottom:30px;"><H2><font face="Trebuchet MS" color="orange">Nathan Williamson</font></H2>
<img src="http://www.pinata.com.au/sites/default/files/pineapple%20200%20x%20200.jpg">
<font face="Trebuchet MS" color="orange"><H3>Bio</H3></font>
<font face="Trebuchet MS" color="white">Nathan was born</font>
<font face="Trebuchet MS" color="orange"><H3>Responsibilities</H3></font>
<font face="Trebuchet MS" color="white">Yes</font></p>

<p style="padding-bottom:30px;"><H2><font face="Trebuchet MS" color="orange">Manny Nguyen</font></H2>
<img src="https://a3-images.myspacecdn.com/images03/23/f3fdd652d98f4251be35afeb37974a4c/300x300.jpg" style="width:200px;height:200px;>
<font face="Trebuchet MS" color="orange"><H3>Bio</H3></font>
<font face="Trebuchet MS" color="white">Manny was born</font>
<font face="Trebuchet MS" color="orange"><H3>Responsibilities</H3></font>
<font face="Trebuchet MS" color="white">Yes</font></p>

<p style="padding-bottom:30px;"><H2><font face="Trebuchet MS" color="orange">Richard Shin</font></H2>
<img src="http://g02.a.alicdn.com/kf/HTB1zi8PIXXXXXX4XpXXq6xXFXXXG/Travel-tool-Lemon-pomelo-Orange-Peeler-Cutter-fruit-peelers-Cute-New-95168.jpg_200x200.jpg">
<font face="Trebuchet MS" color="orange"><H3>Bio</H3></font>
<font face="Trebuchet MS" color="white">Richard was born</font>
<font face="Trebuchet MS" color="orange"><H3>Responsibilities</H3></font>
<font face="Trebuchet MS" color="white">Yes</font></p>



<p style="padding-bottom:30px;"><H2><font face="Trebuchet MS" color="orange">Stats:</font></H2>
<font face="Trebuchet MS" color="white">Project stats</font></p>


<p style="padding-bottom:30px;"><H2><font face="Trebuchet MS" color="orange">Data:</font></H2>
<font face="Trebuchet MS" color="white">Data Sources</font></p>




<H4><font face="Trebuchet MS" color="white">Copyright © 2015, by Land of Legends </font>
</H4>
</CENTER>
