<html lang="en">

  <head>
    <title>
      Champions
    </title>
	{% include "app/header.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var app = angular.module('app', []);

      app.controller('appController', function($scope, $http) {
        $scope.items;
        $scope.sortType = '';
        $scope.sortReverse = false;

        $http.get("http://leagueofdowning.me/api/champions/").then(function(response) {
          $scope.champions = response.data;
        })

        $http.get("http://leagueofdowning.me/api/items/").then(function(response) {
          $scope.items = response.data;
        })
      });

      $scope.getItemName = function (id) {

      }

      app.filter('orderObjectBy', function() {
        return function(input, attribute, reverse) {
          var array = [];
          for (var objectKey in input) {
            array.push(input[objectKey]);
          };
          array.sort(function(a, b) {
            return (a[attribute] > b[attribute] ? 1 : -1);
          });
          if (reverse) array.reverse();
          return array;
        };
      });
    </script>

  </head>

  <body>
    {% include "app/navigation.html" %}
        <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">Champions</h1>
                            
                            <a href="#table" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- Carousel -->
	<!--
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
<!--
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>



          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img class="first-slide" src="http://i58.tinypic.com/2lsk5k5.jpg" alt="First slide">
            </div>
            <div class="item">
              <img class="second-slide" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Caitlyn_3.jpg" alt="Second slide">
            </div>
            <div class="item">
              <img class="third-slide" src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Caitlyn_5.jpg" alt="Third slide">
            </div>
          </div>


          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
	-->
        <!-- /.carousel -->
	
    <!-- Section for tables of Champions -->
        <section id="table" class="container content-section text-center">
    <div class="container" ng-app="app" ng-controller="appController">
<!--      <div class="jumbotron">
	<div class="row placeholders">
	  <div class="col-xs-6 col-sm-9 placeholders">
	    <h1>Champions</h1>
	  </div>
	</div>
      </div>-->
      <table class="table table-hover">

	<thead>
	  <tr>
      <td>
      </td>
	    <td>
	      <a href="" ng-click="sortType = 'champion_id'; sortReverse = !sortReverse">
		Champion
	    </td>
      <td>
        <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
    Name
      </td>
	    <td>
	      <a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">
		Role
	    </td>
	    <td>Recommended Items</td>
	  </tr>
	</thead>

	<tbody>
	  {% verbatim %}
	  <tr ng-repeat="champion in champions | orderObjectBy:sortType:sortReverse">
      <td><a ng-href="{{ champion.champion_id }}"><img ng-src="{{ champion.image }}"></a></td>
	    <td>{{ champion.champion_id}}</td>
	    <td><a ng-href="{{ champion.champion_id }}">{{ champion.name }}</a></td>
	    <td>{{ champion.role }}</td>
	    <td><p ng-repeat="item in champion.recommended_items"><a ng-href="http://leagueofdowning.me/items/{{ item }}">{{  }}</a></p></td>
	  </tr>
	  {% endverbatim %}
	</tbody>

      </table>

    </div>
  </section>

  </body>
	{% include "app/footer.html" %}
</html>

