<html lang="en">

  <head>
    <title>
      Champions
    </title>
	{% include "app/header.html" %}
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var app = angular.module('app', []);

      app.controller('appController', function($scope, $http) {
        $scope.items;
        $scope.sortType = '';
        $scope.sortReverse = false;

        $http.get("http://leagueofdowning.link/api/championstable/").then(function(response) {
          $scope.champions = response.data;
        })

        $http.get("http://leagueofdowning.link/api/itemstable/").then(function(response) {
          $scope.items = response.data;
        })
      });

      app.filter('orderObjectBy', function() {
        return function(input, attribute, reverse) {
          var array = [];
          for (var objectKey in input) {
            array.push(input[objectKey]);
          };
          array.sort(function(a, b) {
            return (a[attribute] > b[attribute] ? 1 : -1);
          });
          if (reverse) array.reverse();
          return array;
        };
      });
    </script>

  </head>

  <body>
    {% include "app/navigation.html" %}

    <!-- Carousel =========================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <!-- <li data-target="#myCarousel" data-slide-to="3"></li> -->
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="http://i1-news.softpedia-static.com/images/news2/Download-Now-League-of-Legends-Patch-5-6-to-Get-New-Buffs-to-Old-Champions-476749-5.jpg" alt="First slide 1920x1080" height="1080px" align="center">
          <div class="container">
            <div class="carousel-caption">
              <p><a href="#table" class="btn btn-circle page-scroll scroll-mod cmod">
                <i class="fa fa-angle-double-down animated"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="http://i.imgur.com/V8QRJU0.jpg" alt="Second slide" height="1080px" align="center">
          <div class="container">
            <div class="carousel-caption">
              <p><a href="#table" class="btn btn-circle page-scroll scroll-mod cmod">
                <i class="fa fa-angle-double-down animated"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="http://i.imgur.com/xDC4nmh.jpg" alt="Third slide" height="1080px" align="center">
          <div class="container">
            <div class="carousel-caption">
              <p><a href="#table" class="btn btn-circle page-scroll scroll-mod cmod">
                <i class="fa fa-angle-double-down animated"></i>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
      </a>
    </div>
    <!-- /.carousel -->


        <!-- Intro Header -->
        <!-- <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">Champions</h1>
                            
                            <a href="#table" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header> -->


	
    <!-- Section for tables of Champions -->
        <section id="table" class="container content-section text-center">
    <div class="container" ng-app="app" ng-controller="appController">
<!--      <div class="jumbotron">
	<div class="row placeholders">
	  <div class="col-xs-6 col-sm-9 placeholders">
	    <h1>Champions</h1>
	  </div>
	</div>
      </div>-->
      <div style="height:500px; overflow:auto;">
      <table class="table table-hover">

	<thead>
	  <tr>
      <td>
      </td>
	    <td>
	      <a href="" ng-click="sortType = 'champion_id'; sortReverse = !sortReverse">
		Champion
	    </td>
      <td>
        <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
    Name
      </td>
	    <td>
	      <a href="" ng-click="sortType = 'role'; sortReverse = !sortReverse">
		Role
	    </td>
	    <td>Recommended Items</td>
	  </tr>
	</thead>

  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>

        <input type="text" class="form-control" placeholder="Search Champions" ng-model="searchChamp" style="width:200px;">

      </div>      
    </div>
  </form>

	<tbody>
	  {% verbatim %}
	  <tr ng-repeat="champion in champions | orderObjectBy:sortType:sortReverse | filter:searchChamp">
      <td><a ng-href="{{ champion.champion_id }}"><img ng-src="{{ champion.image }}"></a></td>
	    <td>{{ champion.champion_id}}</td>
	    <td><a ng-href="{{ champion.champion_id }}">{{ champion.name }}</a></td>
	    <td>{{ champion.role }}</td>
	    <td><span ng-repeat="item in champion.recommended_items track by $index"><a ng-href="http://leagueofdowning.link/items/{{ item }}">{{ champion.recommended_item_names[$index] }}</a><br></span></td>
	  </tr>
	  {% endverbatim %}
	</tbody>

      </table>
    </div>

    </div>
    <br>
    <br>
    <br>
  </section>

  </body>
	{% include "app/footer.html" %}
  <footer>
            <div class="container-fluid text-center">
                <p>Copyright &copy; League of Downing 2015</p>
            </div>
        </footer>
</html>

