<html lang="en">
  <head>
    {% include "app/header.html" %}

    <title>Items</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var app = angular.module('app', []);

      app.controller('appController', function($scope, $http) {
        $scope.items;
        $scope.sortType = '';
        $scope.sortReverse = false;

        $http.get("http://leagueofdowning.link/api/items/").then(function(response) {
          $scope.items = response.data;
        })
      });

      app.filter('orderObjectBy', function() {
        return function(input, attribute, reverse) {
          var array = [];
          for (var objectKey in input) {
            array.push(input[objectKey]);
          };
          array.sort(function(a, b) {
            return (a[attribute] > b[attribute] ? 1 : -1);
          });
          if (reverse) array.reverse();
          return array;
        };
      });
    </script>

  </head>

  <body>

    <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
              <i class="fa fa-bars"></i>
              </button>
              <a class="navbar-brand page-scroll" href="http://leagueofdowning.me/">
              <i class="fa fa-play-circle"></i>  <span class="light">League of</span> Downing
              </a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
              <ul class="nav navbar-nav">
                <li class="hidden">
                  <a href="#page-top"></a>
                </li>
                <li>
                  <a class="page-scroll" href="http://leagueofdowning.me/players/">Players</a>
                </li>
                <li>
                  <a class="page-scroll" href="http://leagueofdowning.me/champions/">Champions</a>
                </li>
                <li>
                  <a class="page-scroll" href="http://leagueofdowning.me/items/">Items</a>
                </li>
                <li>
                  <a class="page-scroll" href="http://leagueofdowning.me/about/">About</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>


    <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <h1 class="brand-heading">Items</h1>
                            
                            <a href="#table" class="btn btn-circle page-scroll">
                                <i class="fa fa-angle-double-down animated"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- Section for tables of Items -->
    <section id="table" class="container content-section text-center">
    <div class="container" ng-app="app" ng-controller="appController">
      <div class="jumbotron">
	<div class="row placeholders">
	  <div class="col-xs-6 col-sm-9 placeholders">
	    <h1>Items</h1>
	  </div>
	</div>
      </div>

      <table class="table table-hover">

	<thead>
	  <tr>
      <td>
      </td>
	    <td>
	      <a href="#" ng-click="sortType = 'item_id'; sortReverse = !sortReverse">
		    Item
	    </td>
	    <td>
	      <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
		    Name
	    </td>
	    <td>
	      <a href="#" ng-click="sortType = 'base_gold'; sortReverse = !sortReverse">
		    Base Gold
	    </td>
      <td>
        <a href="#" ng-click="sortType = 'sell_gold'; sortReverse = !sortReverse">
        Sell Gold
      </td>
      <td>
        <a href="#" ng-click="sortType = 'total_gold'; sortReverse = !sortReverse">
        Total Gold
      </td>
	  </tr>
	</thead>

	<tbody>
    {% verbatim %}
	  <tr ng-repeat="item in items | orderObjectBy:sortType:sortReverse">
      <td><img ng-src="{{ item.image }}"></td>
	    <td><a ng-href="{{ item.item_id }}">{{ item.item_id }}</a></td>
      <td>{{ item.name }}</td>
      <td>{{ item.base_gold }}</td>
      <td>{{ item.sell_gold }}</td>
      <td>{{ item.total_gold }}</td>
	  </tr>
    {% endverbatim %}
    
	</tbody>

      </table>

    </div>
  </section>

  </body>
  {% include "app/footer.html" %}

</html>

