<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "app/header.html" %}

    <title>
      {{ name }}
    </title>

  </head>
  <style>
    #page-top {
    color: "black";
    text:"green";
    }
  </style>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include "app/navigation.html" %}
    
    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
	<div class="container">
	  <div class="row">
	    <div class="center-block">
	      <h1>{{ name }}</h1>
	    </div>
	    <div class="center-block">
	      <img src="{{ image }}" class="img-square" height="150px" width="150px"><br>
	      <a href="#item" class="btn btn-circle page-scroll">
		<i class="fa fa-angle-double-down animated"></i>
	      </a>
	    </div>
	  </div>
	</div>
      </div>
    </header>
    <section id="item" class="container content-section text-center">
      <div class="container">
	
	
	<div class="row">
	  <div class="center-block">
	    <h3>Description</h3>
	    {{ description|linebreaks }}
	  </div>
	</div>
	
	
	<div class="row">
	  <div class="center-block">
	    <h3>Cost</h3>
       <p>
	      {{ total_gold }} <img src="http://a.deviantart.net/avatars/p/a/pay-attention.png?1" height=25px>
       </p>
	  </div>
	</div>
	
	
	<div class="row">
	  <div class="center-block">
	    <h3>Resell Value</h3>
       <p>
	      {{ sell_gold }} <img src="http://a.deviantart.net/avatars/p/a/pay-attention.png?1" height=25px>
       </p>
	  </div>
	</div>

	<div class="row">
     <div class="center-block">
       <h3>Recipe</h3>
     </div>
   </div>

	<div class="row">
	  {% for i in from_items %}
	  <div class="col-sm-{{ num_from }}">
	    <a href="{% include "app/url.html" %}/items/{{ i.item_id }}">
	      <img src="{{ i.image }}" class="img-square">
	    </a>
	  </div>
	  {% endfor %}
	</div>

   <div class="row">
     <div class="center-block">
       <p>
         + {{ base_gold }} <img src="http://a.deviantart.net/avatars/p/a/pay-attention.png?1" height=25px>
       </p>
     </div>
   </div>



	<div class="row">
     <div class="col-sm-12">
       <h3>Item(s) {{ name }} builds into</h3>
     </div>
   </div>

	<div class="row">
	  {% for i in into_items %}
	  <div class="col-sm-{{ num_into }}">
	    <a href="{% include "app/url.html" %}/items/{{ i.item_id }}">
	      <img src="{{ i.image }}" class="img-square">
	    </a>
	  </div>
	  {% endfor %}
	  {% if into_items|length == 0 %}
	  	<p>None</p>
	  {% endif %}
	</div>
	
	
	
      </div>
    </section>
  </body>
  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; League of Downing 2015</p>
    </div>
  </footer>
  {% include "app/footer.html" %}
</html>
