<html lang="en">

  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <title>Items</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var app = angular.module('app', [])

      app.controller('appController', function($scope) {
        $scope.sortType = 'name';
        $scope.sortReverse = false;

        $scope.players = [
          {{playerdata}}
        ];

        $scope.champions = [
          {{championdata}}
        ];

        $scope.items = [
          {{itemdata}}
        ];
      });
    </script>

  </head>

  <body>
    <div class="container" ng-app="app" ng-controller="appController">
      <div class="jumbotron">
	<div class="row placeholders">
	  <div class="col-xs-6 col-sm-9 placeholders">
	    <h1>Items</h1>
	  </div>
	</div>
      </div>

      <table class="table table-hover">

	<thead>
	  <tr>
	    <td>
	      <a href="#" ng-click="sortType = 'item_id'; sortReverse = !sortReverse">
		    Item
	    </td>
	    <td>
	      <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
		    Name
	    </td>
	    <td>
	      <a href="#" ng-click="sortType = 'base_gold'; sortReverse = !sortReverse">
		    Base Gold
	    </td>
      <td>
        <a href="#" ng-click="sortType = 'sell_gold'; sortReverse = !sortReverse">
        Sell Gold
      </td>
      <td>
        <a href="#" ng-click="sortType = 'total_gold'; sortReverse = !sortReverse">
        Total Gold
      </td>
	  </tr>
	</thead>

	<tbody>
    {% verbatim %}
	  <tr ng-repeat="item in items | orderBy:sortType:sortReverse">
	    <td><a ng-href="http://leagueofdowning.me/items/{{ item.item_id }}">{{ item.item_id }}</a></td>
	    <td>{{ item.name }}</td>
	    <td>{{ item.base_gold }}</td>
	    <td>{{ item.sell_gold }}</td>
	    <td>{{ item.total_gold }}</td>
	  </tr>
    {% endverbatim %}
	</tbody>

      </table>

    </div>

  </body>

</html>

