<html lang="en">
  <head>
    {% include "app/header.html" %}

    <title>Items</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var app = angular.module('app', []);

      app.controller('appController', function($scope, $http) {
        $scope.items;
        $scope.sortType = '';
        $scope.sortReverse = false;

        $http.get("http://104.239.165.229/api/items/").then(function(response) {
          $scope.items = response.data;
        })
      });

      app.filter('orderObjectBy', function() {
        return function(input, attribute, reverse) {
          var array = [];
          for (var objectKey in input) {
            array.push(input[objectKey]);
          };
          array.sort(function(a, b) {
            return (a[attribute] > b[attribute] ? 1 : -1);
          });
          if (reverse) array.reverse();
          return array;
        };
      });
    </script>

  </head>

  <body>
    <div class="container" ng-app="app" ng-controller="appController">
      <div class="jumbotron">
	<div class="row placeholders">
	  <div class="col-xs-6 col-sm-9 placeholders">
	    <h1>Items</h1>
	  </div>
	</div>
      </div>

      <table class="table table-hover">

	<thead>
	  <tr>
      <td>
      </td>
	    <td>
	      <a href="#" ng-click="sortType = 'item_id'; sortReverse = !sortReverse">
		    Item
	    </td>
	    <td>
	      <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
		    Name
	    </td>
	    <td>
	      <a href="#" ng-click="sortType = 'base_gold'; sortReverse = !sortReverse">
		    Base Gold
	    </td>
      <td>
        <a href="#" ng-click="sortType = 'sell_gold'; sortReverse = !sortReverse">
        Sell Gold
      </td>
      <td>
        <a href="#" ng-click="sortType = 'total_gold'; sortReverse = !sortReverse">
        Total Gold
      </td>
	  </tr>
	</thead>

	<tbody>
    {% verbatim %}
	  <tr ng-repeat="item in items | orderObjectBy:sortType:sortReverse">
      <td><img ng-src="{{ item.image }}"></td>
	    <td><a ng-href="{{ item.item_id }}">{{ item.item_id }}</a></td>
      <td>{{ item.name }}</td>
      <td>{{ item.base_gold }}</td>
      <td>{{ item.sell_gold }}</td>
      <td>{{ item.total_gold }}</td>
	  </tr>
    {% endverbatim %}
    
	</tbody>

      </table>

    </div>

  </body>
  {% include "app/footer.html" %}

</html>

