<html lang="en">

	<head>

		<meta charset="UTF-8">

		<title>temp</title>

    	<script src="../../../node_modules/angular/angular.js"></script>
    	<script src="app.js"></script>

    </head>

	<body>
		<div class="container" ng-app="app" ng-controller="playerController">

			<table>

				<thead>
					<tr>
						<td>
							<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
								Player
								<span ng-show="sortType == 'name'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
								Age
								<span ng-show="sortType == 'age'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'position'; sortReverse = !sortReverse">
								Position
								<span ng-show="sortType == 'position'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'position' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'totalWins'; sortReverse = !sortReverse">
								Total Wins
								<span ng-show="sortType == 'totalWins'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'totalWins' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'seasonWins'; sortReverse = !sortReverse">
								Season Wins
								<span ng-show="sortType == 'seasonWins'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'seasonWins' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'seasonLosses'; sortReverse = !sortReverse">
								Season Losses
								<span ng-show="sortType == 'seasonLosses'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'seasonLosses' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'team'; sortReverse = !sortReverse">
								Team
								<span ng-show="sortType == 'team'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'team' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'avgKDA'; sortReverse = !sortReverse">
								Average KDA
								<span ng-show="sortType == 'avgKDA'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'avgKDA' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'avgGPM'; sortReverse = !sortReverse">
								Average Gold per Match
								<span ng-show="sortType == 'avgGPM'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'avgGPM' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							<a href="#" ng-click="sortType = 'avgTotalGold'; sortReverse = !sortReverse">
								Average Total Gold
								<span ng-show="sortType == 'avgTotalGold'" class="fa fa-caret-down"></span>
								<span ng-show="sortType == 'avgTotalGold' && sortReverse" class="fa fa-caret-up"></span>
						</td>
						<td>
							Champions
						</td>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="player in players | orderBy:sortType:sortReverse">
						<td>{{ player.name }}</td>
						<td>{{ player.age }}</td>
						<td>{{ player.position }}</td>
						<td>{{ player.totalWins }}</td>
						<td>{{ player.seasonWins }}</td>
						<td>{{ player.seasonLosses }}</td>
						<td>{{ player.team }}</td>
						<td>{{ player.avgKDA }}</td>
						<td>{{ player.avgGPM }}</td>
						<td>{{ player.avgTotalGold }}</td>
						<td>{{ player.champions }}</td>
					</tr>
				</tbody>

			</table>

		</div>

	</body>

</html>

