<html lang="en">

  <head>
    <title>Players</title>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
      var app = angular.module('app', []);

      app.controller('appController', function($scope, $http) {
        $scope.items;
        $scope.sortType = '';
        $scope.sortReverse = false;

        $http.get("http://leagueofdowning.me/api/players/").then(function(response) {
          $scope.players = response.data;
        })
      });

      app.filter('orderObjectBy', function() {
        return function(input, attribute, reverse) {
          var array = [];
          for (var objectKey in input) {
            array.push(input[objectKey]);
          };
          array.sort(function(a, b) {
            return (a[attribute] > b[attribute] ? 1 : -1);
          });
          if (reverse) array.reverse();
          return array;
        };
      });
    </script>

	</head>
	
	<body>
	  <div class="container" ng-app="app" ng-controller="appController">
	    <div class="jumbotron">
	      <div class="row placeholders">
		<div class="col-xs-6 col-sm-9 placeholders">
		  <h1>Players</h1>
		</div>
	      </div>
	    </div>
	    
	    <table class="table table-hover">
	      <thead>
		<div class="row">
		  <tr>
		    <div class="col-xs-6">
		    	<td></td>
		      <td>
			<a href="#" ng-click="sortType = 'player_id'; sortReverse = !sortReverse">
			  Player
		      </td>
		    </div>
		    <td>
		      <a href="#" ng-click="sortType = 'ign'; sortReverse = !sortReverse">
			Name
		    </td>
		    <td>
		      <a href="#" ng-click="sortType = 'team_name'; sortReverse = !sortReverse">
			Team Name
		    </td>
		    <td>
		      <a href="#" ng-click="sortType = 'role'; sortReverse = !sortReverse">
			Role
		    </td>
		    <td>
		      <a href="#" ng-click="sortType = 'kda'; sortReverse = !sortReverse">
			KDA
		    </td>
		    <td>
		      <a href="#" ng-click="sortType = 'gpm'; sortReverse = !sortReverse">
			GPM
		    </td>
		  </tr>
		</div>
	      </thead>
	      
	      <tbody>
		{% verbatim %}
		<tr ng-repeat="player in players | orderObjectBy:sortType:sortReverse">
		  <td><img ng-src="{{ player.image }}"></td>
		  <td><a ng-href="http://leagueofdowning.me/items/{{ player.player_id }}">{{ player.player_id }}</a></td>
		  <td>{{ player.ign }}</td>
		  <td>{{ player.team_name }}</td>
		  <td>{{ player.role }}</td>
		  <td>{{ player.kda }}</td>
		  <td>{{ player.gpm }}</td>
		</tr>
		{% endverbatim %}
	      </tbody>
	      
	    </table>
	    
	  </div>
	  
	</body>
	
</html>

