<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "app/header.html" %}
  </head>
  <style>
    #index {
    color: "black";
    text:"green";
    }
  </style>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand page-scroll" href="http://leagueofdowning.me/">
          <i class="fa fa-play-circle"></i>  <span class="light">League of</span> Downing
          </a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
            <li class="hidden">
              <a href="#page-top"></a>
            </li>
            <li>
              <a class="page-scroll" href="http://leagueofdowning.me/players/">Players</a>
            </li>
            <li>
              <a class="page-scroll" href="http://leagueofdowning.me/champions/">Champions</a>
            </li>
            <li>
              <a class="page-scroll" href="http://leagueofdowning.me/items/">Items</a>
            </li>
            <li>
              <a class="page-scroll" href="http://leagueofdowning.me/about/">About</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
    </nav>

    <!-- Intro Header -->
        <header class="intro">
            <div class="intro-body">
                <div class="container">
                    <div class="row">
                        <div class="center-block">
                            <h1>{{ player_name }} </h1>
                            
                        </div>
                        <div class="center-block">
                          <img src="{{ image }}" class="img-square" height="470px" width="400px" ><br>

                          <a href="#player" class="btn btn-circle page-scroll">
                              <i class="fa fa-angle-double-down animated"></i>
                          </a>
                        </div>

                    </div>
                </div>
            </div>
        </header>

    <section id="player" class="container content-section text-center">
      <div class="container">
        <div class="row">
          <div class="center-block">
            <h3>Stats</h3>
            Bio: {{ bio|linebreaks }}
            IGN: {{ ign|linebreaks }}
            Team: {{ team_name|linebreaks }}
            Role: {{ role|linebreaks }}
            Games Played: {{ games_played|linebreaks }}
            
            <!-- Total Wins: {{ total_wins|linebreaks }}
            Season Record: {{ season_record|linebreaks }}
            Team: {{ team|linebreaks }} -->
            Average KDA: {{ kda|linebreaks }}
            Average Gold per Minute: {{ gpm|linebreaks }}
            Average Total Gold: {{ total_gold|linebreaks }}
            Most played champions:<br>
            <div class="col-sm-4">
              <img src="{{ most_played.first }}" height="120px" width="120px" class="img-circle">
            </div>
            <div class="col-sm-4">
              <img src="{{ most_played.second }}" height="120px" width="120px" class="img-circle">
            </div>
            <div class="col-sm-3">
              <img src="{{ most_played.third }}" height="120px" width="120px" class="img-circle">
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <!-- Footer -->
  <footer>
    <div class="container text-center">
      <p>Copyright &copy; League of Downing 2015</p>
    </div>
  </footer>

  {% include "app/footer.html" %}

</html>
