<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "app/header.html" %}

    </head>
    <body>
      {% include "app/navigation.html" %}

      <!-- Intro Header -->
      
      <header class="search">
        <section id="search" class="container content-section text-center">

          <div class="container">
            <div class="featurette">
              <div class="featurette-inner text-center">
                <form role="form" class="search">
                  <h3 class="no-margin-top h1">Search League of Downing</h3>
                  <div class="input-group input-group-lg">
		    
                    <label for="id_q">Search:</label>
                    <input type="text" name="q" id="id_q"/>
                    <input type="submit" value="Submit"/>
		    
		    
                </form>
                <input type="search" placeholder="search" class="form-control">
                <span class="input-group-btn">
                  <button class="btn btn-danger" type="button">Search</button>
                </span>
                </div>
                <!-- /input-group -->
		
		<!-- /.max-width on this form -->

              </div>
              <!-- /.featurette-inner (display:table-cell) -->
            </div>  
	    
          </div>
        </section>
      </header>

      <!-- Footer -->
      <footer>
        <div class="container text-center">
          <p>Copyright &copy; League of Downing 2015</p>
        </div>
      </footer>
      {% include "app/footer.html" %}
    </body>
</html>
