<HEAD>
<TITLE>League of Downing</TITLE>
</HEAD>
<BODY BGCOLOR="Black">
<CENTER>


 

<IMG SRC="http://i.imgur.com/BNIm5ov.png">

 

 


<H2><font face="Trebuchet MS" color="orange">Welcome to the League of Downing</font></H2>



<font face="Trebuchet MS" color="white">This is where all of our information would go and a search bar or something.</font>
 

<font face="Trebuchet MS" color="orange"><H3>Contact Us</H3></font>

<font face="Trebuchet MS" color="white">This could go here maybe too</font>





<H4><font face="Trebuchet MS" color="white">Copyright 2015, by Land of Legends </font>
</H4>
</CENTER>
