<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "app/header.html" %}
        <!-- Video CSS -->  
        <style type="text/css">
            .vid-background {
            background-image: url("http://i.imgur.com/BNIm5ov.png");
            background-repeat: no-repeat;
            background-position: center;
            }
            .video-section .pattern-overlay {
            /*padding: 110px 0 32px;*/
            min-height: 496px; 
            /* Incase of overlay problems just increase the min-height*/
            }
            .video-section .buttonBar{display:none;}
            .player {font-size: 1px;}
            .scroll-mod {
            position: relative;
            top: 300px;
            }
            .mods{
            background:#1C1C1C;
            }
            .navbar .navbar-brand {
            max-height: 40px;
            overflow: visible;
            padding-top: 0;
            padding-bottom: 0;
            }            
            .cmod {
                position: absolute;
                left: 47%;
            }  
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <title>
            League of Downing
        </title>
    </head>


    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">


        <!-- Navigation -->
        <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                    
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="glyphicon glyphicon-fire"></i>  <span class="light">League of</span> Downing
                    </a>
                    </div> -->
                <!-- logo section -->
                <div class="navbar-header ">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="#page-top">
                    <img src="http://i.imgur.com/QJ9ZY68.png" alt="">
                    </a>
                </div>
                <!-- end of logo -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#players">Players</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#champions">Champions</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#items">Items</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{% include "app/url.html" %}/search/">Search</a>
                        </li>
                        <!-- <li>
                            <a class="page-scroll" href="{% include "app/url.html" %}/artists/">Artists</a>
                        </li> -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span></a>
                            <ul class="dropdown-menu mods" role="menu">
                                <form class="search" role="search">
                                    <div class="input-group search">
                                        <input type="" class="form-control" placeholder="Search" name="q">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>  </button>
                                        </div>
                                    </div>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>


        <!-- Intro with Video -->
        <!--Video Section-->
        <header id="top" class="header container-fluid">
            <div class="content-section video-section vid-background" >
                <div class="pattern-overlay">
                    <div>
                        <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=vzHrjOMfHPY',containment:'.video-section', quality:'hd720', autoPlay:true, mute:false, opacity: 1, optimizeDisplay:true, vol: 10, startAt:0, }">bg</a>
                    </div>
                    <div>
                        <a href="#players" class="btn btn-circle page-scroll scroll-mod cmod">
                        <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!--Video Section Ends Here-->


        <!-- Players Section -->
        <section id="players" class="container-fluid content-section text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Players </h2>
                    <p>League of Legends Championship Series (LCS) in Europe and North America. This is a league system where ten teams compete to stay in the league. The top three teams from each continent advance to the world championships. The World Championship had grand prizes reaching over $1 million dollars</p>                   
                    <a href="players/" class="btn btn-default btn-lg">Current Top Players in League of Legends.</a>
                </div>
            </div>
        </section>


        <!-- Champions Section -->
        <section id="champions" class="container-fluid content-section text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Champions</h2>
                    <p>The champions of the League of Justice are as diverse as they are powerful, all of them bringing unique styles and abilities into the Institute of War. Each fighting for their own political faction, they bring abilities and fighting styles from around Valoran into the arena to resolve conflicts and of course, entertain. </p>
                    <a href="champions/" class="btn btn-default btn-lg">Choose your Champion!</a>
                </div>
            </div>
        </section>


        <!-- Items Section -->
        <section id="items" class="container-fluid content-section text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Items</h2>
                    <p>Each player can choose a variety of champion varying in many different roles, each having their own unique characteristics and abilities, with all champions starting off each game fairly weak and progressing by accumulating gold and experience over the course of the game. As each player accumulate gold, they can use it on items that boost their champion's statistics that enhances various abilities.</p>
                    <p>
                        <a href="items/" class="btn btn-default btn-lg">Choose your items wisely!</a>
                    </p>
                </div>
            </div>
        </section>
        <!-- About Section -->
        <section id="about" class="container-fluid content-section text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>About Our Team</h2>
                    <p> Ryan, Michael, Nathan, Richard, & Manny</p>
                    <p>
                        <a href="about/" class="btn btn-default btn-lg">More About Our Team!</a>
                    </p>
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://github.com/RyFry/leagueofdowning" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/RyFry/leagueofdowning/wiki" class="btn btn-default btn-lg"><i class="glyphicon glyphicon-file"></i> <i class="fa fa-wiki fa-fw"></i> <span class="network-name">GitWiki</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer>
            <div class="container-fluid text-center">
                <p>Copyright &copy; League of Downing 2015</p>
            </div>
        </footer>
        {% include "app/footer.html" %}
        <link href='static/css/nprogress.css' rel='stylesheet' />
        <script src='static/js/nprogress.js'></script>
        <script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
            
               $(".player").mb_YTPlayer();
            
            });
        </script>
        <script>
            $('body').show();
            $('.version').text(NProgress.version);
            NProgress.start();
            setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
            
            $("#b-0").click(function() { NProgress.start(); });
            $("#b-40").click(function() { NProgress.set(0.4); });
            $("#b-inc").click(function() { NProgress.inc(); });
            $("#b-100").click(function() { NProgress.done(); });
        </script>
    </body>
</html>