<HEAD>
<TITLE>League of Downing</TITLE>
</HEAD>
<BODY BGCOLOR="Black">
<CENTER>




<IMG SRC="http://i.imgur.com/BNIm5ov.png">



<H2><font face="Trebuchet MS" color="orange">Welcome to the League of Downing</font></H2>



<font face="Trebuchet MS" color="white">Here you can visit the tables containing links to all the information you would like to view</font>

<p>
<a href="http://leagueofdowning.me/champions/"><font face="Trebuchet MS" color="orange" size="6">Champions</font></a>
</p>

<p>
<a href="http://leagueofdowning.me/items/"><font face="Trebuchet MS" color="orange" size="6">Items</font></a>
</p>

<p>
<a href="http://leagueofdowning.me/players/"><font face="Trebuchet MS" color="orange" size="6">Players</font></a>
</p>
 

<p style=" position: absolute; bottom: 25; left: 0; width: 100%; text-align: center;">
<a href="http://leagueofdowning.me/about"><font face="Trebuchet MS" color="orange" size="6">About Us</font></a>
</p>


<p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;">
<font face="Trebuchet MS" color="white">Copyright 2015, by Land of Legends </font>
</p>





</CENTER>


